<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/dashboard.css">

    <script src="../scripts/dashboard.js" defer></script>
    <meta charset="UTF-8" />
    <meta
        http-equiv="Content-Security-Policy"
        content="default-src 'self'; script-src 'self' 'unsafe-inline' http://localhost:8000; connect-src http://localhost:8000"
    />

    <title>Prodmax</title>
</head>
<header></header>

<body>

    <div class="main-container">

        <nav class="navbar">
            <button class="menu-btn" onclick="toggleSidebar()">
                ☰
            </button>

            <h2 class="logo">Prodmax</h2>

            <button class="channel_list_toggler" onclick="toggleChannelList()" id="channel_list_toggle">
                <img src="../assets/images/messages.png">
            </button>
        </nav>

        <div id="sidebar" class="sidebar">
            <a href="dashboard.html">Home</a>
            <a href="taskboards.html">Taskboards</a>
            <a href="workspaces.html">Workspaces</a>
            <a href="settings.html">Settings</a>
        </div>

        <div id="overlay" class="overlay" onclick="toggleSidebar()"></div>

        <section class="tasks-section">

            <div class="tasks-header">
                <h2>Tasks</h2>
                <button class="create-task-button" id="create_button">Create</button>
                
                <div class="modal-overlay" id="modal-overlay">
                    <div class="modal">
                        <h2>Create Task</h2>

                        <input
                            id="task-input"
                            type="text"
                            placeholder="Task name"
                        >

                        <div class="modal-buttons">
                            <button id="cancel-button" class="cancel-button">Cancel</button>
                            <button id="add-button" class="add-button">Add Task</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hidden" id="emptyState">
                <h2>No Tasks!</h2>
                <p>Create your first task to get started.</p>
            </div>
            
            <div class="task-list" id="task-list"></div>

        </section>

        <div class="channel_container" id="channel_list"></div>
        <div class="message_pane" id="message_pane">
            <div class="messages_section">
                <button type="button" class="message_pane_toggler" onclick="closeMessagePane()" aria-label="Back to channels">←</button>
                <div class="messages_list" id="messages_section"></div>
            </div>

            <form id="message_input_form">
                <input class="message_input_form" type="text" name="message_input" placeholder="Type your message here..." required/>
            </form>
        </div>
    </div>

</body>

</html>