<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/dashboard.css">

    <script src="../scripts/dashboard.js" defer></script>
    <meta charset="UTF-8" />
    <meta
        http-equiv="Content-Security-Policy"
        content="default-src 'self'; script-src 'self' 'unsafe-inline'; connect-src http://localhost:8000"
    />

    <meta
        http-equiv="X-Content-Security-Policy"
        content="default-src 'self'; script-src 'self' 'unsafe-inline'; connect-src http://localhost:8000"
    />

    <title>Prodmax</title>
</head>
<header></header>

<body>

    <div class="main-container">

        <nav class="navbar">
            <button class="menu-btn" onclick="toggleSidebar()">
                ☰
            </button>

            <h2 class="logo">Prodmax</h2>

            <button class="channel_list_toggler" onclick="toggleChannelList()" id="channel_list_toggle">
                <img src="../assets/images/messages.png">
            </button>
        </nav>

        <div id="sidebar" class="sidebar">
            <a href="dashboard.html">Home</a>
            <a href="taskboards.html">Taskboards</a>
            <a href="workspaces.html">Workspaces</a>
            <a href="settings.html">Settings</a>
        </div>

        <div id="overlay" class="overlay" onclick="toggleSidebar()"></div>
        
        <script>
            function toggleSidebar() {
                document.getElementById("sidebar").classList.toggle("open");
                document.getElementById("overlay").classList.toggle("show");
            }

            function toggleChannelList() {
                document.querySelector(".main-container").classList.toggle("channel-open");
                document.getElementById("channel_list").classList.toggle("open_channel_list");
                if (document.getElementById("message_pane").classList.contains("show_message_pane")) {
                    document.getElementById("message_pane").classList.remove("open_message_pane");
                }
            }
        </script>

        <section class="tasks-section">

            <div class="tasks-header">
                <h2>Tasks</h2>
                <button class="create-task-button" id="create_button">Create</button>
                
                <div class="modal-overlay" id="modal-overlay">
                    <div class="modal">
                        <h2>Create Task</h2>

                        <input
                            id="task-input"
                            type="text"
                            placeholder="Task name"
                        >

                        <div class="modal-buttons">
                            <button id="cancel-button" class="cancel-button">Cancel</button>
                            <button id="add-button" class="add-button">Add Task</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="emptyState">
                <h2>No Tasks!</h2>
                <p>Create your first task to get started.</p>
            </div>
            
            <div class="task-list" id="task-list"></div>

        </section>

        <div class="channel_container" id="channel_list"></div>
        <div class="message_pane" id="message_pane">
            <div class="messages_section">
                <button type="button" class="message_pane_toggler" onclick="closeMessagePane()" aria-label="Back to channels">←</button>
                <div class="messages_list" id="messages_section"></div>
            </div>

            <form id="message_input_form">
                <input class="message_input_form" type="text" name="message_input" placeholder="Type your message here..." required/>
            </form>
        </div>
    </div>

    <script>

        async function fetchData() {
            try {
                response = await fetch('http://localhost:8000/api/dashboard');
                data = await response.json();

                const list = document.getElementById('channel_list');
                list.innerHTML = data.channels[1].map((name, index) => `<button onclick="display_messages_pane(this)" data-channel_id="${data.channels[0][index]}" class="channel_item">${name}</button>`).join('');

            } catch (error) {
                console.error('Error fetching dashboard data:', error);
            }
        }
        
        fetchData();
        
        function display_messages_pane(button) {
            document.getElementById('message_pane').classList.add('show_message_pane');
            load_messages(button.dataset.channel_id);
            button.classList.add('active_channel');
        }

        async function load_messages(channel_id) {
            const response = await fetch('http://localhost:8000/api/load_messages/' + channel_id, {
                method: 'POST'
            });

            const data = await response.json();

            const messages = data.messages || [];

            const messageSection = document.getElementById('messages_section');
            messageSection.innerHTML = messages.toReversed().map(message => `<p class="message_item">${message}</p>`).join('');
            messageSection.scrollTop = messageSection.scrollHeight;
        }

        async function send_message(channel_id, message) {
            const formData = new FormData();
            formData.append('channel_id', channel_id);
            formData.append('content', message);
            const response = await fetch('http://localhost:8000/api/send_message', {
                method: 'POST',
                body: formData,
                });
            
            return await response.json();
        }

        function closeMessagePane() {
            document.getElementById('message_pane').classList.toggle('open_message_pane');
            document.getElementById('message_pane').classList.remove('show_message_pane');

            document.getElementById('message_pane').addEventListener('transitionend', () => {
                setTimeout(() => {
                    document.querySelectorAll('.message_item').forEach(item => item.remove());
                }, 100);
            });
            
            const activeButton = document.querySelector('.channel_item.active_channel');
            if (activeButton) {
                activeButton.classList.remove('active_channel');
            }
        }

        document.getElementById('message_input_form').addEventListener('submit', async(e) => {
            e.preventDefault();
            const messageInput = e.target.elements['message_input'];

            const channel_id = document.querySelector('.channel_item.active_channel').dataset.channel_id;
            const message = messageInput.value;

            response = await send_message(channel_id, message);
            messageInput.value = '';
            const new_message = response.message

            document.getElementById('messages_section').innerHTML += `<p class="message_item">${new_message}</p>`;
            const messageSection = document.getElementById('messages_section');
            messageSection.scrollTop = messageSection.scrollHeight;

        })

    </script>
</body>

</html>