<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/workspaces.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workspaces</title>
</head>
<body>
    <div class="main-container">
        <nav class="navbar">
                <button class="menu-btn" onclick="toggleSidebar()">
                    ☰
                </button>

                <h2 class="logo">My App</h2>
            </nav>

            <div id="sidebar" class="sidebar">
                <a id="home_link">Home</a>
                <a id="organizations_link" href="organizations.html">Organizations</a>
                <a id="workspaces_link" href="workspaces.html">Workspaces</a>
                <a id="settings_link" href="settings.html">Settings</a>
            </div>
            
            <div id="overlay" class="overlay" onclick="toggleSidebar()"></div>

            <main class="content">
                <h1>Welcome</h1>
                <p>Your page content goes here.</p>
            </main>

            <script>
                function toggleSidebar() {
                    document.getElementById("sidebar").classList.toggle("open");
                    document.getElementById("overlay").classList.toggle("show");
                }
            </script>



    </div>


        
        
</body>
</html>